div{
    text-align: center;
}
img {
  display: block;
  margin: auto;
    max-width:40%;
    height:auto;
}

#correct{
    color:green;
    font-size: 2rem;
}

#wrong{
    color:red;
    font-size: 2rem;
}

#done{
    color:gold;
    font-size: 2rem;
}

#title{
    font-size:2rem;
}

#question{
font-size: 2rem;
}

#instructions{
    font-size: 1.5rem;
}

#nameBody{
    background-color:#b19cd9;
}

button{
    border-radius: 5px;
    cursor: pointer;
      color: black;
      background-color: #B1B8E0;
       font-size: 1.5vw;
}

button:hover{
    background-color: #e1d8f0;
}

input{
    border-radius:5px;
}

::placeholder {
  color: black;
}